{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>面談予約フォーム</title>

    <link rel="stylesheet" href="{% static 'css/reservation_style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/main.min.css" rel="stylesheet">

</head>
<body>
    <div class="reservation-container">
        <h1>面談予約フォーム</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.name.label_tag }}
                {{ form.name }}
            </div>
            <div class="form-group">
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>
            <div id="calendar"></div>
            <div class="form-group">
                {{ form.date.label_tag }}
                {{ form.date }}
            </div>
            <div id="available-times" class="form-group" style="margin-bottom: 20px;"></div>
            <input type="hidden" name="time" id="id_time">
            <div class="form-group">
                {{ form.message.label_tag }}
                {{ form.message }}
            </div>
            <button type="submit">予約する</button>
        </form>
    </div>
    <!-- FullCalendarとカスタムJSはbodyの最後で読み込む -->
    <script src="{% static 'js/index.global.js' %}"></script>
    <script src="{% static 'js/reservation_script.js' %}"></script>
</body>
</html>